body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color: #333;
}

p {
  line-height: 1.5;
}

.header-section {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.welcome-text {
  text-align: center;
}

.headshot {
  width: 150px;
  height: auto;
}

.contact-links {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.research-image {
  width: 300px;
  height: auto;
}
